<div class="modal-header">
<button type="button" class="ajax-modal-close close" data-dismiss="modal" aria-hidden="true">×</button>
<h1 class="modal-title">[Legacy Docs Citation Format Examples]</h1>
  </div>
<br/>
<div class="modal-body">
<i>[Tobacco Control requires all submissions citing tobacco industry documents to use the permanent Legacy Tobacco Documents Library (LTDL) URL when available.]</i>
<p/>
Format Sample: LTDL Documents<br>
<ul style="list-style: none;">
	<li><b>Author. Title. Date Year. Source. http://legacy.library.ucsf.edu/id/########</b></li>
	<li>&nbsp;</li>
	<li>Philip Morris (Australia) Limited.  [Letter to W. Refshauge, Charman, National Health and Medical Research Council]. 19 Oct 1967. Philip Morris. http://legacy.library.ucsf.edu/id/qeab2051</li>
</ul>
<p/>
Format Sample: Citing documents not available online<br>
<ul style="list-style: none;">
	<li><b>Author. Title. Date of Document Year. Source. Bates No. ##########/####. Available from [Location] (Accessed DD MM YYYY).</b></li>
	<li>&nbsp;</li>
	<li>Swell Pictures Inc. Marlboro Story Video 'Commitment to Excellence'. 14 Oct 1991. Philip Morris. 2048850021. Available from Minnesota Depository (Accessed 14 Apr 2014).</li>
</ul>

</div>
